.Content{
    padding-left:8%;
    padding-right:5%;
}
#HeaderRow1
{
    background-color: crimson;
    color:white;
}
#HeaderToprow
{
    display: flex;
    justify-content: space-between;
}
#HeaderToprow p{
    font-size: large;
}
#HeaderRow2
{
    display: flex;
    font-size: large;
    align-items: flex-end;
}
#HeaderLogo{
    float: left;
}
#HeaderLogo img{
    width:40%;
}
#HeaderMenu{
    float:left;
    display: flex;

   align-items: flex-end;
}
#HeaderMenu ul {
    display: flex;
    align-items: flex-end;
}
#HeaderMenu ul li {
    list-style: none;
    color:black;
    padding-right: 10%;
}
#HeaderMenu ul li a{
    color:black;
    text-decoration: none; 
    font-size: larger;
    display: block;
    text-align: center;
}
#HeaderMenu ul li a:hover{
    padding-bottom: 8px;
    border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: crimson;
}
#HeaderImage img{
   width: 100%;
   margin-top: 1%;
   filter: brightness(60%);
}
/*Ending of header*/
#mainContent
{
    background-color: rgb(240, 233, 233);
}
#mainContent h1
{
    background:linear-gradient(to right ,crimson 20%,transparent 80%);
    color:white;
}
input[type=text],input[type=number],select,input[type=date]
{
    width: 200px;
    height: 50px;
    margin: 2%;
}
textarea{
    width: 65%;
    height: 15em;
    margin: 2%;
}
button{
    width: 200px;
    height: 50px;
    margin-left: 1.5em;
    font-size: larger;
    background-color: crimson;
    color:white;
    margin-bottom: 1.5em;
}
button:hover{
    box-sizing: border-box;
    box-shadow: 1px 1px 8px 1px black;
}

/*Starting of footer*/
footer{
    margin-top:5%;
}
footer
{
    float: left;
    background-color:#3C346E;
    color:white;
}
#footerCol1 img
{
    margin-top: 5%;
    width: 15%;
    height: 15%;
}
#footerCol1 p
{
    color:white;
    text-align: justify;
}
#footerCol1
{
    float: left;
    width: 25%;
}
#footerCol2
{
    float: left;
    width: 33%;
    margin-left: 5%;
}
#footerCol2 h1
{
    margin-left: 8%;
    background: linear-gradient(to right,Crimson 0%,transparent 100%);
}
#footerCol2 ul li {
    list-style: none;
    font-size: large;
    margin-bottom: 3%;
}
#footerCol3
{
    float: left;
    width: 33%;
}
#footerCol3 h1{
    background: linear-gradient(to right,Crimson 0%,transparent 100%);
}
#footerCol3 a{
    margin-bottom: 3%;
    color: white;
    text-decoration-line: none;
}
#footerLastRow
{
    float: left;
    background-color:#161748;
    width: 100%;
    color: white;
}
#leftLastRow
{
    float: left;
    width: 70%;
}
#rightLastRow
{
    width: 20%;
    margin-top: 2%;
    float: right;
}
#rightLastRow a{
    margin-right: 8%;
    text-decoration: none;
    color:white;
}